.home-container{
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
width: 100%;
gap: 30px;
}
.button-div{
    width: 100px;
    height: 50px;
    border-radius: 10px;
}